/*
Mixins
*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #010000;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

a:hover {
  color: grey;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container-fluid {
  line-height: 24px;
}

header {
  display: flow-root;
  width: 100%;
  background: black;
  color: white;
  height: 80px;
}

header .logo {
  position: relative;
  top: 30%;
  left: 35px;
}

header nav {
  position: absolute;
  top: 4%;
  right: 5%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1em;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

header nav ul li.last {
  margin: 0;
}

header nav ul li a {
  font-size: 19px;
  line-height: normal;
  color: #ffffff;
}

body {
  background: white;
  color: black;
}

#cover {
  background: #222 url("https://unsplash.it/1920/1080/?random&grayscale") center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 10px;
}
